{% extends "main_template.html" %}

{% block content %}
<h2>Favourite Movie</h2>
<form action="/rating">
             <div class="row">

                 {% for i in movies %}
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{i.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.description}}.</p>
    <a href="#" class="btn btn-outline-primary"><input class="form-check-input mr-5" value="{{i.id}}" name="movie" type="radio"/><span style="margin-left:8px">{{i.name}}</span></span></a>
  </div>
</div>
                            </div>
{% endfor %}

                        </div>

    <br><br>
<div class="row">
    <div class="col-md-12">

    <button type="submit" class="btn btn-primary w-100 mt-10">Submit</button>


</div>
</div>
    </form>





      {% endblock %}



